[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytelegrambotapi = "*"
langgraph = "*"
langchain = "*"
langchain-openai = "*"
langgraph-checkpoint-redis = "*"
pydantic-settings = "*"
python-dotenv = "*"
redis = {extras = ["asyncio"], version = "*"}
sqlalchemy = "*"
aiohttp = "*"
aiomysql = "*"
cryptography = "*"
alembic = "*"
colorama = "*"
apscheduler = ">=3.10"

[dev-packages]

[requires]
python_version = "3.11"
